# List

In [6]:
lst = [30, 20, 44, "robin"]

In [7]:
lst

[30, 20, 44, 'robin']

In [8]:
lst.append(" Kumar") #Append : adds the value to the list in the end

In [9]:
lst

[30, 20, 44, 'robin', ' Kumar']

In [17]:
lst.pop(0) #pop : deletes the value in the index given

30

In [18]:
lst

[20, 44, 'robin', ' Kumar']

In [22]:
lst.append(44)

In [23]:
lst

[20, 44, 'robin', ' Kumar', 44]

In [25]:
lst.count(44) #Count : counts the repetation of the value given

2

In [30]:
lst1 = ["letsupgrade", 45, 56 ]

In [32]:
lst

[20, 44, 'robin', ' Kumar', 44, 'letsupgrade', 45, 56]

In [35]:
lst.reverse() #reverse just revrse the order of the elements in the list

In [36]:
lst

[56, 45, 'letsupgrade', 56, 45, 'letsupgrade', 44, ' Kumar', 'robin', 44, 20]

In [43]:
lst3 = lst.copy() #Copy copies the elements of the list to lst3

In [44]:
lst3

[56, 45, 'letsupgrade', 56, 45, 'letsupgrade', 44, ' Kumar', 'robin', 44, 20]

In [52]:
lst3.clear() # deletes every element of tht list

In [53]:
lst3

[]

# Dict

In [62]:
dit = {"name" : 'Robin kumar' , "Age" : 23 , "emai" : "whocares@gmail.com" }

In [63]:
dit

{'name': 'Robin kumar', 'Age': 23, 'emai': 'whocares@gmail.com'}

In [64]:
dit2 = dit.copy() #copy copies the elements of the dit to another dit2

In [65]:
dit2

{'name': 'Robin kumar', 'Age': 23, 'emai': 'whocares@gmail.com'}

In [66]:
dit.values() #values just shows the content of the dit

dict_values(['Robin kumar', 23, 'whocares@gmail.com'])

In [74]:
dit.get("name") #get the assigned element

'Robin kumar'

In [2]:
dit = {"name" : 'Robin kumar' , "Age" : 23 , "emai" : "whocares@gmail.com" }

In [3]:
dit

{'name': 'Robin kumar', 'Age': 23, 'emai': 'whocares@gmail.com'}

In [6]:
dit.pop('emai') #POP deletes the specifies element from the dit

'whocares@gmail.com'

In [7]:
dit

{'name': 'Robin kumar', 'Age': 23}

In [9]:
dit.clear() #clears the all elements in the dit

In [13]:
dit

{}

# SET

In [15]:
st = {'robin' ,'kumar', 24, 45, 56, 53}

In [16]:
st

{24, 45, 53, 56, 'kumar', 'robin'}

In [25]:
st2 = {'lets upgrade' , 'python' , 24 , 45, 53}

In [27]:
st2

{24, 45, 53, 'lets upgrade', 'python'}

In [20]:
st.add(54) # add adds an element to the set

In [21]:
st

{24, 45, 53, 54, 56, 'kumar', 'robin'}

In [24]:
st.difference(st2) #difference shows the elements 
#which are not present in the first set and present in second set

{54, 56, 'kumar', 'robin'}

In [28]:
st.intersection(st2) #intersection just gives the common elements in the both sets

{24, 45, 53}

In [29]:
st.union(st2) #union adds all the elemnent into one set repeateds are omitted

{24, 45, 53, 54, 56, 'kumar', 'lets upgrade', 'python', 'robin'}

In [38]:
st2.remove(53) #removes the specified element from the set

In [39]:
st2

{24, 45, 'lets upgrade', 'python'}

# Tuple

In [42]:
tup = ('Robin' ,'Kumar', 'Python', 'day2')

In [43]:
tup

('Robin', 'Kumar', 'Python', 'day2')

In [51]:
tup.count('Kumar') #count shows the elemet

1

In [52]:
tup.index('day2') #index shows the

3

## string

In [54]:
name = "Robin Kumar"

In [65]:
type(name)

str

In [67]:
name2 = "Lets upgrade"

In [69]:
name.upper() #upper case turns into upper case everthing

'ROBIN KUMAR'

In [72]:
name.lower() #lower chgangesthe string to lower case

'robin kumar'

In [77]:
name.swapcase() #swaps the lower case to uppercase and vise-versa

'rOBIN kUMAR'

In [89]:
name + " " + name2

'Robin Kumar Lets upgrade'

In [90]:
name.islower()

False